<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
</html>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>All Blogs</h2>
<p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Est quibusdam, quae iure ex sunt molestias suscipit nesciunt commodi asperiores, veritatis soluta, consequatur facilis molestiae maiores? Necessitatibus sit earum laborum voluptate.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
    </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>
        